
<link rel="stylesheet" href="/css/login.css">
<div class="center">
    <h1>{{title}} - Log In</h1>
    <form id="auth-form" data-type="login">
        <div class="form-floating mb-1">
            <input type="email" class="form-control" id="email" placeholder="Email Address">
            <label for="email">Email Address</label>
        </div>
        <div class="form-floating mb-1">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn login" style="width: 100% !important">Log In</button>
        </div>
        <p class="mt-5 mb-3 text-body-secondary"><a href="/forgot">Forgot Password?</a></p>
    </form>
</div>


<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const SB_client = supabase.createClient(SUPABASE_URL, SUPABASE_KEY)

        const { data: { user }} = await SB_client.auth.getUser()
        if (user) {
            window.location.href = "/dashboard"
        }
    });



    document.getElementById("auth-form").addEventListener("submit", async e => {
        e.preventDefault();
        const SB_client = supabase.createClient(SUPABASE_URL, SUPABASE_KEY)
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const { data, error } = await SB_client.auth.signInWithPassword({
            email: email,
            password: password
        })
        if (data.user === null) {
            alert("Invalid email or password")
            console.log(error)
        } else {
            window.location.href = "/dashboard"
        }
    });
</script>