<link rel="stylesheet" href="/css/login.css">
<div class="center">
    <h1>{{title}} - Update Password</h1>
    <form id="auth-form" data-type="resetPW">
        <div class="form-floating mb-1">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn login" style="width: 100% !important">Reset Password</button>
        </div>
    </form>
</div>
<script type="module">
    document.getElementById("auth-form").addEventListener("submit", async e => {
        e.preventDefault();
        const SB_client = supabase.createClient(SUPABASE_URL, SUPABASE_KEY)
        const password = document.getElementById("password").value;

        const { data, error } = await SB_client.auth.updateUser({
            password: password
        })
        if (error) {
            alert("An error occured")
            console.log(error)
        } else {
            alert("Password Reset!")
            window.location.href = "/login"
        }
    });
</script>
