
<div class="container text-white">
    <h1 class="display-1">:(</h1>
    <h1 class="display-4">Error 401: Not Authorised</h1>
    <p>You are not authorised to access this resource, please log in and try again</p>
    <a href="/login" class="btn btn-primary">Log In</a>
</div>
<style>
body {
  background-color: #00A2ED;
}

</style>