{{> navbar}}
<div class="container text-center">
    <h1>You are logged in as <div class="username"></div></h1>
    <hr>
    <p>This is still under construction - pls see cat in meantime :)</p>
    <img src="{{ catURL }}" alt="CATTO!">
</div>
<script src="/js/authn.js"></script>